h1 {
    color: #FFF;
    font-family: Raleway;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

p {
    width: 492px;
    color: #9C9C9C;
    font-family: "IBM Plex Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
    /* 171.429% */
    letter-spacing: 0.14px;
}

.btn_start {
    margin-top: 10px;
    display: flex;
    padding: 16px 48px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #62BA1B;
    background: #3F8E00;
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.50);
}

img{
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 50%;
}

.section_box{
    width: 100%;
    height: 60vh;
    gap: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-left: 200px;
}

span{
    color: black;
    font-family: "IBM Plex Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.14px;
}

.ReactIcon{
    width: 40px;
    height: 40px;
}

.worked{
    background-color: gold;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    padding-left: 30px;
    height: 100px;
}

.work_p{
    font-size: 20px;
    color: #FFF;
    padding-bottom: 20px;
}

.fremwork{
    display: flex;
    gap: 30px;
}

article{
    display: flex;
    align-items: center;
    gap: 5px;
} 

article span{
    color: white;
}