.contact-form {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 50px;
    border-radius: 8px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }
  
  .contact-form button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #45a049;
  }
  label{
    text-align: start;
  }
  .p{
    width: 100%;
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }